{% load static %}
<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'backend/css/suketvaksinnikah.css' %}"
    />
    <title>Surat Keterangan Vaksin Menikah</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          src="{% static 'backend/img/logokukar.png' %}"
          alt="Logo Pemerintah"
        />
        <h1 style="font-size: 18px; font-weight: bold; margin: 0">
          PEMERINTAH KABUPATEN KUTAI KARTANEGARA
        </h1>
        <h1 style="font-size: 18px; font-weight: bold; margin: 0">
          KECAMATAN TENGGARONG SEBERANG
        </h1>
        <h1
          style="
            font-size: 24px;
            font-weight: bold;
            margin: 0;
            letter-spacing: 5px;
          "
        >
          DESA KERTA BUANA
        </h1>
        <p class="address">
          Jl. Raya Utama Dusun Budi Daya RT. 22 Blok D Kode Pos 75262
        </p>
      </div>

      <div class="content">
        <h2>SURAT KETERANGAN</h2>
        <p style="text-align: center">
          Nomor:&emsp;&emsp;&emsp; /64.02.16.2005-PD/Ket./&emsp;&emsp;&emsp;/
          {{date|date:"Y"}}
        </p>

        <p style="text-indent: 30px; text-align: justify">
          Yang bertanda tangan dibawah ini Kepala Desa Kerta Buana Kecamatan
          Tenggarong Seberang menerangkan dengan sebenarnya bahwa :
        </p>

        <div class="details">
          <table>
            <tr>
              <td></td>
              <td>Nama Lengkap</td>
              <td>:</td>
              <td>{{nama}}</td>
            </tr>
            <tr>
              <td></td>
              <td>Jenis Kelamin</td>
              <td>:</td>
              <td>{{jenis_kelamin}}</td>
            </tr>
            <tr>
              <td></td>
              <td>Tempat Tgl. Lahir</td>
              <td>:</td>
              <td>{{ ttl }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Agama</td>
              <td>:</td>
              <td>{{ agama }}</td>
            </tr>

            <tr>
              <td></td>
              <td>Pekerjaan</td>
              <td>:</td>
              <td>{{ pekerjaan }}</td>
            </tr>
            <tr>
              <td></td>
              <td>Alamat</td>
              <td>:</td>
              <td>{{ alamat }}</td>
            </tr>
          </table>
        </div>

        <p style="padding-top: 10px; text-indent: 30px; text-align: justify">
          Yang bersangkutan adalah benar warga Desa Kerta Buana sebagaimana
          mestinya disebutkan diatas, kepada yang bersangkutan kami berikan
          pengantar Untuk {{ pengantar }}.
        </p>

        <p style="text-indent: 30px; text-align: justify">
          Demikian Surat Pengantar ini kami berikan kepada yang bersangkutan
          agar dapat di pergunakan sebagaimana mestinya.
        </p>
      </div>

      <div class="signature">
        <p>Kerta Buana, {{date|date:"d F Y"}}</p>
        <p>Kepala Desa Kerta Buana</p>
        <!--Copy from her for barcode-->
        <img
          style="width: 120px; margin-right: 30px"
          src="{% static 'backend/img/barcode.png' %}"
          alt="bar"
        />
        <p style="position: relative; left: 5px">I Dewa Ketut Adi Basuki</p>

        <!--Until here-->
      </div>
    </div>
  </body>
</html>
