{% extends "backend/base_ui.html" %} {% load static %} {% load custom_filters %}
{% block konten %}

<div>
  <div class="pagetitle">
    <h1>Surat Keterangan Usaha</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Surat Keterangan Usaha</li>
      </ol>
    </nav>
  </div>
  {% if value %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Surat Keterangan Usaha</h5>

      <!-- General Form Elements -->

      <form
        method="post"
        action="{% url 'edit_suketusaha' value.id %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="row mb-3">
          <label for="inputNama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputNama"
              value="{{ value.nama }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputUmur" class="col-sm-2 col-form-label">Umur</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputUmur"
              value="{{ value.umur }}"
              required
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputPekerjaan" class="col-sm-2 col-form-label"
            >Pekerjaan</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputPekerjaan"
              value="{{ value.pekerjaan }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputAlamat" class="col-sm-2 col-form-label"
            >Alamat</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputAlamat"
              value="{{ value.alamat }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputJenisUsaha" class="col-sm-2 col-form-label"
            >Jenis usaha</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputJenisUsaha"
              value="{{ value.jenisusaha }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputTahunBerdiri" class="col-sm-2 col-form-label"
            >Tahun bediri</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputTahunBerdiri"
              value="{{ value.tahunberdiri }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputJumlahModal" class="col-sm-2 col-form-label"
            >Jumlah modal</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputJumlahModal"
              value="{{ value.jumlahmodal }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputAlamatUsaha" class="col-sm-2 col-form-label"
            >Alamat usaha</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputAlamatUsaha"
              value="{{ value.alamatusaha }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNpwp" class="col-sm-2 col-form-label">No NPWP</label>
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputNpwp"
              value="{{ value.npnpwp }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNoTelepon" class="col-sm-2 col-form-label"
            >Nomor telepon</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputNoTelepon"
              value="{{ value.notelepon }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputJumlahKaryawan" class="col-sm-2 col-form-label"
            >Jumlah karyawan</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputJumlahKaryawan"
              value="{{ value.jumlahkaryawan }}"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputKeterangan" class="col-sm-2 col-form-label"
            >Keterangan</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              name="inputKeterangan"
              value="{{ value.keterangan }}"
              required
            />
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label"
            >Pengantar RT</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              type="file"
              id="formFile"
              name="pengantarrt"
            />
            <div class="d-flex gap-3">
              <p>file yang di upload :</p>
              <a href="{{ value.pengantarrt }}"
                >{{ value.pengantarrt|filename }}</a
              >
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label"
            >Scan KTP</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              type="file"
              id="formFile"
              name="scanktp"
            />
            <div class="d-flex gap-3">
              <p>file yang di upload :</p>
              <a href="{{ value.scanktp }}">{{ value.scanktp|filename }}</a>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputNumber" class="col-sm-2 col-form-label"
            >Foto usaha</label
          >
          <div class="col-sm-10">
            <input
              class="form-control"
              type="file"
              id="formFile"
              name="fotousaha"
            />
            <div class="d-flex gap-3">
              <p>file yang di upload :</p>
              <a href="{{ value.fotousaha }}">{{ value.fotousaha|filename }}</a>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label class="col-sm-2 col-form-label">Submit Here</label>
          <div class="col-sm-10">
            <a href="{% url 'suketusaha' %}">
              <button class="btn btn-secondary">Cancel</button>
            </a>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

      <!-- End General Form Elements -->
    </div>
  </div>
  {% else %}
  <div class="container-fluid">
    <div class="d-flex justify-content-end mb-3">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#formModal"
      >
        Tambahkan surat
      </button>
    </div>
    <div class="table-responsive">
      <table class="table datatable">
        <thead>
          <tr>
            <th>Nama</th>
            <th data-type="date" data-format="YYYY/DD/MM">Date</th>
            <th>Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% if user.is_superuser %} {% for surat in suket %}

          <tr>
            <td>
              <a href="{% url 'detail_suketusaha' surat.id %}"
                >{{ surat.nama }}</a
              >
            </td>
            <td>{{ surat.date }}</td>
            {% if surat.status == 'review' %}
            <td class="text-warning fw-bold">Proses Review</td>
            {% elif surat.status == 'approved' %}
            <td class="text-success fw-bold">Disetujui</td>
            {% elif surat.status == 'rejected' %}
            <td class="text-danger fw-bold">Ditolak</td>
            {% endif %} {% if user.is_superuser %}

            <td class="text-center">
              <!-- Btn-group untuk aksi -->
              <div
                class="btn-group gap-3"
                role="group"
                aria-label="Action buttons"
              >
                <button type="button" class="btn btn-success btn-sm rounded-3">
                  <a
                    href="{% url 'setujui_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Setujui</a
                  >
                </button>
                <button type="button" class="btn btn-danger btn-sm rounded-3">
                  <a
                    href="{% url 'tolak_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Tolak</a
                  >
                </button>
              </div>
            </td>

            {% else %}

            <td class="text-center">
              <!-- Btn-group untuk aksi -->
              <div
                class="btn-group gap-3"
                role="group"
                aria-label="Action buttons"
              >
                <a
                  href="{% url 'edit_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button
                    type="button"
                    class="btn btn-warning btn-sm rounded-3"
                  >
                    Edit
                  </button>
                </a>
                <a
                  href="{% url 'delete_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button type="button" class="btn btn-danger btn-sm rounded-3">
                    Delete
                  </button>
                </a>
                {% if surat.status == 'approved' %}

                <a
                  href="{% url 'print_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button
                    type="button"
                    class="btn btn-primary btn-sm rounded-3"
                  >
                    Print
                  </button>
                </a>
                {% else %}

                <button
                  type="button"
                  class="btn btn-primary btn-sm rounded-3"
                  disabled
                >
                  <a
                    href="{% url 'print_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Print
                  </a>
                </button>

                {% endif %}
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %} {% else %} {% for surat in private %}

          <tr>
            <td>
              <a href="{% url 'detail_suketusaha' surat.id %}"
                >{{ surat.nama }}</a
              >
            </td>
            <td>{{ surat.date }}</td>
            {% if surat.status == 'review' %}
            <td class="text-warning fw-bold">Proses Review</td>
            {% elif surat.status == 'approved' %}
            <td class="text-success fw-bold">Disetujui</td>
            {% elif surat.status == 'rejected' %}
            <td class="text-danger fw-bold">Ditolak</td>
            {% endif %} {% if user.is_superuser %}

            <td class="text-center">
              <!-- Btn-group untuk aksi -->
              <div
                class="btn-group gap-3"
                role="group"
                aria-label="Action buttons"
              >
                <button type="button" class="btn btn-success btn-sm rounded-3">
                  <a
                    href="{% url 'setujui_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Setujui</a
                  >
                </button>
                <button type="button" class="btn btn-danger btn-sm rounded-3">
                  <a
                    href="{% url 'tolak_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Tolak</a
                  >
                </button>
              </div>
            </td>

            {% else %}

            <td class="text-center">
              <!-- Btn-group untuk aksi -->
              <div
                class="btn-group gap-3"
                role="group"
                aria-label="Action buttons"
              >
                <a
                  href="{% url 'edit_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button
                    type="button"
                    class="btn btn-warning btn-sm rounded-3"
                  >
                    Edit
                  </button>
                </a>
                <a
                  href="{% url 'delete_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button type="button" class="btn btn-danger btn-sm rounded-3">
                    Delete
                  </button>
                </a>
                {% if surat.status == 'approved' %}

                <a
                  href="{% url 'print_suketusaha' surat.id %}"
                  class="text-decoration-none"
                >
                  <button
                    type="button"
                    class="btn btn-primary btn-sm rounded-3"
                  >
                    Print
                  </button>
                </a>
                {% else %}

                <button
                  type="button"
                  class="btn btn-primary btn-sm rounded-3"
                  disabled
                >
                  <a
                    href="{% url 'print_suketusaha' surat.id %}"
                    class="text-decoration-none text-white"
                    >Print
                  </a>
                </button>

                {% endif %}
              </div>
            </td>
            {% endif %}
          </tr>
          {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

  <div
    class="modal fade"
    id="formModal"
    tabindex="-1"
    aria-labelledby="formModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModalLabel">Tambahkan Surat</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Surat Keterangan Usaha</h5>

              <!-- General Form Elements -->

              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="inputNama" class="col-sm-2 col-form-label"
                    >Nama</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputNama"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputUmur" class="col-sm-2 col-form-label"
                    >Umur</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputUmur"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputPekerjaan" class="col-sm-2 col-form-label"
                    >Pekerjaan</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputPekerjaan"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputAlamat" class="col-sm-2 col-form-label"
                    >Alamat</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputAlamat"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputJenisUsaha" class="col-sm-2 col-form-label"
                    >Jenis usaha</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputJenisUsaha"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputTahunBerdiri" class="col-sm-2 col-form-label"
                    >Tahun bediri</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputTahunBerdiri"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputJumlahModal" class="col-sm-2 col-form-label"
                    >Jumlah modal</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputJumlahModal"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputAlamatUsaha" class="col-sm-2 col-form-label"
                    >Alamat usaha</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputAlamatUsaha"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNpwp" class="col-sm-2 col-form-label"
                    >No NPWP</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputNpwp"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNoTelepon" class="col-sm-2 col-form-label"
                    >Nomor telepon</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputNoTelepon"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label
                    for="inputJumlahKaryawan"
                    class="col-sm-2 col-form-label"
                    >Jumlah karyawan</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputJumlahKaryawan"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputKeterangan" class="col-sm-2 col-form-label"
                    >Keterangan</label
                  >
                  <div class="col-sm-10">
                    <input
                      type="text"
                      class="form-control"
                      name="inputKeterangan"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >Pengantar RT</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                      name="pengantarrt"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >Scan KTP</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                      name="scanktp"
                      required
                    />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label"
                    >Foto usaha</label
                  >
                  <div class="col-sm-10">
                    <input
                      class="form-control"
                      type="file"
                      id="formFile"
                      name="fotousaha"
                      required
                    />
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Here</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </div>
              </form>

              <!-- End General Form Elements -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock konten %}
